<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
            <remove name="bms" />
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\gary\appdata\local\programs\python\python37\python.exe|c:\users\gary\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="bms" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\gary\appdata\local\programs\python\python37\python.exe|c:\users\gary\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="D:\study\bms" />
            <add key="DJANGO_SETTINGS_MODULE" value="orm2.settings" />
        </appSettings>
    </configuration>
    <!-- C:\Users\gary\AppData\Local\Programs\Python\Python37\python.exe| -->
    <!-- C:\Users\gary\AppData\Local\Programs\Python\Python37\Lib\site-packages\wfastcgi.py -->